#Copyright by IBM Corporation
#Created by AP Domino Team

[Unit]
Description=DSM_start
After=network.target

[Service]
Type=forking
User=root
WorkingDirectory=/opt/tivoli/tsm/client/ba/bin
ExecStart=/opt/tivoli/tsm/client/ba/bin/init_sched.sh startd
TimeoutSec=60
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
